<div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded d-none d-lg-block" src="img/developers.jpg" alt="">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Buenos Lectores</span>
                            <span class="section-heading-lower">Desarrolladores</span>
                        </h2>
                        <p id="nosotros" class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id enim deleniti officia fuga autem minus unde nobis similique magnam exercitationem tempora, repellat nesciunt ut eaque veniam quisquam. Nulla, eos.
                        </p>
                    </div>
                </div>
            </div>