<div class="container-fluid">
        <h1 id="header" class="site-heading text-center text-white d-none">
            <span class="site-heading-upper text-primary mb-3">Buenos Lectores</span>
            <span class="site-heading-lower">Buenos Lectores</span>
        </h1>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded d-none d-lg-block" src="https://odysseyonline-img.rbl.ms/simage/https%3A%2F%2Fassets.rbl.ms%2F10451018%2F980x.jpg/2000%2C2000/ghILfxe4fhqoMYFa/img.jpg" alt="">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Buenos Lectores</span>
                            <span class="section-heading-lower">Nosotros</span>
                        </h2>
                        <p id="nosotros" class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id enim deleniti officia fuga autem minus unde nobis similique magnam exercitationem tempora, repellat nesciunt ut eaque veniam quisquam. Nulla, eos.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-over">
                            <div class="cta-inner text-center rounded">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Nuestro</span>
                                    <span class="section-heading-lower">Compromiso</span>
                                </h2>
                                <div class="row">
                                    <p class="mb-0 col-md-6 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae in nihil minus veniam suscipit. Itaque molestias nemo natus, magni laboriosam tempore cumque laborum officia porro delectus, quam error repudiandae!</p>
                                    <p class="mb-0 col-md-6 text-justify d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae in nihil minus veniam suscipit. Itaque molestias nemo natus, magni laboriosam tempore cumque laborum officia porro delectus, quam error repudiandae!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>